@()(implicit r: Request[_])

@main("San Juan Scala") {
  <h3>San Juan Scala card game</h3>

  <div class="container-fluid small">
    <button type="button" class="btn btn-success btn-sm" id="createGameBtn">Create game</button>
    <hr>
    Roles cards:
    <div class="card card-body w-75">
        <div class="row" id="roleCards"></div>
    </div>
    Your cards:
    <div class="card card-body w-75">
        <div class="row" id="playerHandCards"><!-- the content goes here dynamically --></div>
    </div>
    Your buildings:
    <div class="card card-body w-75">
        <div class="row" id="playerBuildingsCards"><!-- the content goes here dynamically --></div>
    </div>
  </div>

  <div id="infoLogBar">
    <div class="alert alert-danger" role="alert">
      Error:
      <button type="button" class="close" aria-label="Hide" id="infoLogHideBtn">
        <span aria-hidden="true">&times;</span>
      </button>
      <hr>
      <div id="infoLogMessage"/>
      <!-- the content goes here dynamically -->
    </div>
  </div>

}
