@()(implicit r: Request[_])

@main("San Juan Scala") {
  <h3>San Juan Scala card game</h3>

  <input type="hidden" value="@routes.HomeController.game.webSocketURL()" id="gameWebSocket">

  <div class="container-fluid">
    <button type="button" class="btn btn-info" id="infoLogBtn">Show info log</button>
    <hr>

    <button type="button" class="btn btn-primary" id="drawCard">Draw card</button>
    <button type="button" class="btn btn-primary" id="buildRoleCards">Build role cards</button>

    <div class="row" id="roleCards"></div>
    <div class="row" id="playerCards"></div>
  </div>

  <div id="infoLogBar">
    <div class="alert alert-info" role="alert">
      Information log:
      <button type="button" class="close" aria-label="Hide" id="infoLogHideBtn">
        <span aria-hidden="true">&times;</span>
      </button>
      <hr>
      <div id="infoLogMessage"/>
      <!-- the content goes here dynamically -->
    </div>
  </div>

}
