@()

@main("Welcome to Play") {
  <h1>Welcome to San Juan!</h1>

<div class="container">
  <div class="row">
    <div class="col-3">

      <div class="card text-center" id="card1">
        <div class="card-header">
          Archive
        </div>
        <div class="card-body">
          <h5 class="card-title">councillor phase</h5>
          <p class="card-text">owner may discard cards from their hand and/or cards that were just drawn</p>
        </div>
        <div class="card-footer">
          <small class="text-muted float-left">Cost: 1 card(s)</small>
          <small class="text-muted float-right">1 VP(s)</small>
        </div>
      </div>

    </div>
    <div class="col-3">

      <div class="card text-center" id="card2">
        <div class="card-header">
          Archive
        </div>
        <div class="card-body">
          <h5 class="card-title">councillor phase</h5>
          <p class="card-text">owner may discard cards from their hand and/or cards that were just drawn</p>
        </div>
        <div class="card-footer">
          <small class="text-muted float-left">Cost: 1 card(s)</small>
          <small class="text-muted float-right">1 VP(s)</small>
        </div>
      </div>

    </div>
  </div>
</div>

<br/>

<button type="button" class="btn btn-primary" id="bt1">Show</button>
<button type="button" class="btn btn-primary" id="bt2">Hide</button>

}
